<div class="container-fluid">
    <div class="row" id="heat">
        <div class="col-2">
            <a href="/">
                <img src="/img/logo3.svg" alt="ola" id="logo">
            </a>
            
        </div>
        <div class="col-8" id="busqueda">
            <form class="form-inline my-2 my-lg-0">
                <input class=" form-control mr-sm-2" type="search" placeholder="Estoy buscando..."
                    aria-label="Search" id="barra">
                <button class="btn my-2 my-sm-0" type="submit" id="btnbusqueda"><i
                        class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="col-2">
            <p id="carrsection">
                Mi carrito <br>
                <img src="/img/carrito.svg" id="carrito">
            </p>
        </div>

    </div>

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navi2">
    <div class="container-fluid">
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              
                    <ul class="navbar-nav" id="alinear">
                        
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categorias 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Bicicletas</a>
                                    <a class="dropdown-item" href="#">Accesorios para bicicleta</a>
                                    <a class="dropdown-item" href="#">Accesorios para ti</a>
                                </div>
                            </li>
                        
                        
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Marcas 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/giant">Giant</a>
                                    <a class="dropdown-item" href="#">Ciclocity</a>
                                    <a class="dropdown-item" href="#">Rockbros</a>
                                </div>
                            </li>
                       
                        
                        
                            <li class="nav-item dropdown" >
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Cuenta 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Perfil</a>
                                    <a class="dropdown-item" href="#">Compras</a>
                                    <a class="dropdown-item" href="#">Seguir pedido</a>
                                </div>
                            </li>
                        
                    </ul>
               
                
            </div>
        
        
    </div>

</nav>